# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
venv/
.env

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Project specific
client_secret_*.json
token.json
gen-lang-client-*.json
suno_v2.log
temp_*
Result/
output/
local_files/
config.json
